{
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "jsxSingleQuote": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "@/components/(.*)$",
    "@/layout/(.*)$",
    "@/ui/(.*)$",
    "@/providers/(.*)$",
    "@/shared/(.*)$",
    "@/assets/(.*)$",
    "@/config/(.*)$",
    "@/store/(.*)$",
    "@/hooks/(.*)$",
    "@/types/(.*)$",
    "@/utils/(.*)$",
    "@/api/(.*)$",
    "./(.*)",
    "../(.*)"
],
"importOrderSeparation": true,
"importOrderSortSpecifiers": true
}
