.footer {
  margin-top: auto;
  height: 86px;
  background-color: #1d1e25;
}

.footer__container {
  width: 1000px !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px !important;
  margin: 0 auto !important;
}

.logo__img__footer {
  width: 113px;
  height: 70px;
}

.footer__links {
  display: flex;
  flex-direction: row;
  width: 470px;
  justify-content: space-between;
}

.footer__links__item__a {
  font-weight: 400;
  color: #7d8096;
  font-size: 16px;
}

.footer__links__item__a:hover {
  color: #f18100;
  transition: 0.2s ease-in-out;
}

.footer__telephone__link {
  width: 305px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__telephone__link__span {
  font-weight: 400;
  color: #7d8096;
  font-size: 16px;
}

.footer__a__phone {
  font-weight: 400;
  color: #7d8096;
  font-size: 16px;
}

.footer__a__phone:hover {
  color: #f18100;
  transition: 0.2s ease-in-out;
}
