@tailwind base;
@tailwind components;
@tailwind utilities;

/* ШРИФТЫ */

@font-face {
  font-display: swap;
  font-family: Montserrat Basis;
  font-style: normal;
  font-weight: 700;
  src: url('@/public/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-display: swap;
  font-family: Montserrat Basis;
  font-style: normal;
  font-weight: 600;
  src: url('@/public/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-display: swap;
  font-family: Montserrat Basis;
  font-style: normal;
  font-weight: 500;
  src: url('@/public/fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-display: swap;
  font-family: Montserrat Basis;
  font-style: normal;
  font-weight: 400;
  src: url('@/public/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-display: swap;
  font-family: Montserrat Basis;
  font-style: normal;
  font-weight: 300;
  src: url('@/public/fonts/Montserrat-Light.ttf');
}
/*****************************************************************************/

body {
  font-family: Montserrat Basis;
  font-weight: 400;
  background-color: #101010;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 400;
}

.main__content__own {
  margin-bottom: 100px !important;
  width: 1162px !important;
}

.container {
  width: 1440px !important;
  margin: 0 auto !important;
  padding: 0 15px !important;
}

.btn-reset {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.swiper-button-prev, .swiper-button-next {
  color: #FF8A00 !important;
}

.swiper-pagination-bullet-active {
  background-color: #FF8A00 !important;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.overflow-hidden {
  overflow-y: hidden;
  padding-right: 8px;
}

.main__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #444444;
  border-radius: 4px;
}

.swiper-wrapper {
  flex-direction: row !important;
}

.input-custom .box-border {
  flex-direction: row !important;
}

.btn__default {
  width: 330px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #FF8A00;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  letter-spacing: .3;
}

.btn__card {
  width: 260px !important;
  height: 48px !important;
}

.btn__default:hover {
  transition: .2s ease-in-out;
  background-color: #e77b00;
}

.contacts p{
  font-size: 16px;
  line-height: 150%;
}

.delivery__info  p{
  font-size: 16px;
  line-height: 150%;
}

.card__template {
  width: 280px;
  height: 350px;
  box-sizing: border-box !important;
  padding: 8px;
}

.card__img {
  width: 260px !important;
  height: 160px !important;
  object-fit: cover !important;
}

.cart__img {
  width: 100px !important;
  height: 70px !important;
  object-fit: cover !important;
}

.cart__item {
  border-color: #ffffff1f;
}

.card__weight {
  font-size: 16px;
}

.btn__card.product__item__card__button.left {
  border-radius: 10px 0 0 10px;
  border-right: none;
}

.btn__card.product__item__card__button.right {
  border-radius: 0 10px 10px 0;
  border-left: none;
}

.img-skidka {
  padding-top: 70px;
}

.Loader {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100vh;
}