p,
span,
a {
  font-weight: 300;
}

p,
span {
  font-size: 14px;
  color: #a7a7a7;
}

.header__span__down {
  font-size: 20px;
  text-align: center;
  color: white;
  margin-top: 3px;
}

.header__a__down {
  font-size: 20px;
  color: white;
  margin-top: 3px;
}

.header__container {
  padding-top: 30px !important;
  padding-bottom: 16px !important;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1163px;
}

.header__content__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 522px;
}

.header__content__info__time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

.header__content__info__time__carbon {
  width: 50px;
  height: 50px;
  background: url('/img/carbon_time.svg') no-repeat center center;
}

.header__content__info__time__slash {
  width: 13px;
  height: 39px;
  background: url('/img/slash.svg') no-repeat center center;
}

.header__icon__links__item {
  width: 56px;
  height: 56px;
  background-color: #1d1d1d;
  border: 1px solid #292929;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item__busket {
  width: 120px;
}

.header__icon__links__card__item--profile {
  width: 17px;
  height: 21px;
  background: url('/img/profile.svg') no-repeat center center;
}

.header__icon__links__card__item--busket {
  width: 24px;
  height: 24px;
  background: url('/img/busket.svg') no-repeat center center;
}

.header__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 350px;
}

.header__icon__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 190px;
}

.header__content__info__geo {
  display: flex;
}

.header__content__info__geo p,
.header__content__info__geo a {
  margin-left: auto;
}

.header__content__info__geo span {
  color: #ff8a00;
}

.header__links__item a {
  font-size: 18px;
  text-transform: uppercase;
}

.header__links__item a:hover {
  color: #ff8a00;
  transition: 0.2s ease-in-out;
}
