.mobile-menu-container {
  display: none;
}

.mobile-menu-button {
  background: transparent !important;
  color: white !important;
  min-width: 0 !important;
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
  margin-left: 8px !important;
}

.mobile-menu-modal {
  z-index: 2000 !important;
}

.mobile-menu__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.mobile-menu__items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  padding-right: 10px;
}

.mobile-menu__item {
  display: flex;
  align-items: center;
  background-color: #292929;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 10px;
  transition: background-color 0.2s;
}

.mobile-menu__item:hover,
.mobile-menu__item:active {
  background-color: #FF8A00;
}

.mobile-menu__icon {
  width: 32px;
  height: 32px;
  min-width: 32px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

/* Иконки для мобильного меню */
.mobile-menu__icon.item--rolls {
  background-image: url('/img/rolls.svg');
}

.mobile-menu__icon.item--sushi {
  background-image: url('/img/sushi.svg');
}

.mobile-menu__icon.item--sets {
  background-image: url('/img/sets.svg');
}

.mobile-menu__icon.item--pizza {
  background-image: url('/img/pizza.svg');
}

.mobile-menu__icon.item--snacks {
  background-image: url('/img/snacks.svg');
}

.mobile-menu__icon.item--gedza {
  background-image: url('/img/gedza.svg');
}

.mobile-menu__icon.item--maki {
  background-image: url('/img/maki.svg');
}

.mobile-menu__icon.item--salads {
  background-image: url('/img/salads.svg');
}

.mobile-menu__icon.item--soups {
  background-image: url('/img/soup.svg');
}

.mobile-menu__icon.item--wok {
  background-image: url('/img/wok.svg');
}

.mobile-menu__icon.item--additionally {
  background-image: url('/img/additionally.svg');
}

.mobile-menu__text {
  font-size: 14px;
  font-weight: 400;
  color: white;
}

/* Скрыть в десктопной версии */
@media (min-width: 1025px) {
  .mobile-menu-wrapper {
    display: none !important;
  }
}

/* Показать в мобильной версии */
@media (max-width: 1024px) {
  .mobile-menu-container {
    display: block !important;
  }
  
  .mobile-menu-wrapper {
    display: block !important;
  }
} 