.sidebar__container {
  padding-top: 10px;
  width: 230px;
  margin-bottom: 100px !important;
}

.sidebar__logo {
  width: 228px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__img__sidebar {
  width: 160px;
  height: 100px;
}

.sidebar__menu {
  margin-top: 16px;
}

.sidebar__menu__item {
  width: 228px;
  height: 58px;
  border-radius: 10px;
  background-color: #1d1d1d;
  border: 1px solid #292929;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding-left: 10px;
}

.sidebar__menu__item:hover {
  transition: .2s ease-in-out;
  background-color: #ff880009;
  border: 1px solid #ff8a00;
}

.sidebar__menu__item__div {
  width: 44px;
  height: 44px;
}

.item--rolls {
  background: url(@/public/img/rolls.svg) no-repeat center center;
}

.item--sushi {
  background: url(@/public/img/sushi.svg) no-repeat center center;
}

.item--sets {
  background: url(@/public/img/sets.svg) no-repeat center center;
}

.item--pizza {
  background: url(@/public/img/pizza.svg) no-repeat center center;
}

.item--snacks {
  background: url(@/public/img/snacks.svg) no-repeat center center;
}

.item--gedza {
  background: url(@/public/img/gedza.svg) no-repeat center center;
}

.item--salads {
  background: url(@/public/img/salads.svg) no-repeat center center;
}

.item--poke {
  background: url(@/public/img/poke.svg) no-repeat center center;
}

.item--soups {
  background: url(@/public/img/soup.svg) no-repeat center center;
}

.item--wok {
  background: url(@/public/img/wok.svg) no-repeat center center;
}

.item--additionally {
  background: url(@/public/img/additionally.svg) no-repeat center center;
}

.sidebar__menu__item__span {
  font-weight: 400;
  font-size: 16px;
  color: white;
  margin-left: 14px;
}
